:root {
    --text-color : #1a1c20;
    --link-color : #4a76ee;
    --background-color : #eeeff1;
     
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins",sans-serif;
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

a{
    color: var(--link-color);
    text-decoration: none;
}





                                                            /*NAVAR*/
nav{
     position: fixed;        
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 100px;

     background: rgba(255, 255, 255, 0.05);  
    backdrop-filter: blur(10px);            
    -webkit-backdrop-filter: blur(10px);    

    z-index: 999;  /* stays above everything */
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
   /*  position: relative; */
}
/*nav .right a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: var(--link-color);
    transition: 0.3s ease;
}

nav .right a:hover::after {
    width: 100%;
}*/

nav .right a:last-child{
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 10px;
    border-radius: 5px;
}

nav .right a span {
    margin-left: 5px;
}





                                                      /*SECTION 1 HERO */
.hero-section{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    align-items: center;
    gap:50px;
    margin-bottom: 100px;
    



}

.hero-section .text {
    flex: 5;

}
.hero-section .text h2 {
    font-size: 45px;
    font-weight: 600;
    background: linear-gradient(90deg, #4a76ee, #7d5cff, #ff5c8a, #ff9f45);
     -webkit-background-clip: text;
    color: transparent;
 }

.hero-section .text p {
    font-size: 17px;
    line-height: 1.7;
    color: #43464d;
    opacity: 0.95;


}

.hero-section .text .link {
    margin: 30px 0;
   
}

.hero-section .text .link a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    margin-right: 10px;
    border-radius: 5px;
    transition: .1s;
}
.hero-section .text .link a:hover{
    color: var(--text-color);
    border: 2px solid var(--text-color);
}


.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
   
}

 .hero-section .headshot img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid rgba(255,255,255,0.7);
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
    transition: transform .25s ease;
}

.hero-section .headshot img:hover {
    transform: scale(1.03);
}



                                                  /*SECTION 2 SKILL-SECTION */




.skill-section{
    padding: 0 50px;
    margin-bottom: 100px;
}
.skill-section h2{
    text-align: center;
    font-size: 30px;
}
.skill-section .text{
    text-align: center;
    margin-bottom: 20px;
}
.skill-section .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.skill-section .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;

     padding: 10px 20px;
     margin: 10px;
     border: 1.5px solid lightgray;
     border-radius: 5px;
     gap: 10px;
    transition: transform .18s ease;
     position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}
.skill-section .cells .cell:hover{
    transform: translateY(-4px);
     border-color: #4a76ee;
    background: rgba(74, 118, 238, 0.08);
    box-shadow: 0px 0px 15px rgba(74, 118, 238, 0.5);
  
}.skill-section .cells .cell::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 120%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent 0%,
        rgba(255, 255, 255, 0.4) 50%,
        transparent 100%
    );
    transform: skewX(-20deg);
    transition: 0.5s;
}

.skill-section .cells .cell:hover::before {
    left: 100%;
}
.skill-section .cells .cell img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}
.skill-section .cells .cell span{
    font-size: 18px;
    white-space: nowrap;
}



                                    /* SECTION 3 testimony */
.testimony-section {
  padding: 0 50px;
  margin-bottom: 100px;
}
.testimony-section h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.testimony-section .group{
    display: flex;
    align-items: center;
    gap: 50px;
   
}

.testimony-section .group .person-detail{
    text-align: center;
    flex: 2;
}
.testimony-section .group .text{
    flex: 8;
    font-size: 17px;
    line-height: 1.7;
    color: #515357;
    font-style: italic;
    opacity: 0.9;

}
.testimony-section .group .person-detail img{
    aspect-ratio: 1/1;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.testimony-section .group .person-detail p{
    font-weight: 600;
}
.testimony-section .group .person-detail p:last-child{
    font-weight: normal;
}

/*SECTION 4 CONTACT*/
.contact-section{
    padding: 0 50px;
    margin-bottom: 100px;
}
.contact-section h2{
    font-size: 35px;
    margin-bottom: 15px;
}

.contact-section .group{
    display: flex;
    gap: 50px;
}
.contact-section .group .text{
    flex: 3;
    margin-top: 20px;
}
.contact-section .group form{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea{
    font-family: "poppins",sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}
.contact-section .group form button{
    font-size: 16px;
    font-family: "poppins",sans-serif;
    color: white;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: 1s;
}
.contact-section .group form button:hover{
    filter: brightness(.7);
}
 
@media (max-width:850px){
    /*SECTION 1 */
    .hero-section .text h2{
        font-size: 30px;
    }
}
@media(max-width:740px){
    .hero-section{
        flex-direction:column-reverse;
    }

    .hero-section .headshot img{
        height: 300px;
        width: 300px;
    }
                                       /*section 2 skills */
      .skill-section .cells .cell{
        padding: 8px 10px;
        margin: 8px;
        border-radius: 6px;
    }

   
    .skill-section .cells .cell span{
        display: none;
    }

    .skill-section .cells .cell img{
        width: 44px;
        height: 44px;
    }

    
    .skill-section .cells{
        gap: 8px;
    }
    
                                             /*section 3 testimony */
    .testimony-section{
        text-align: center;
    }
    .testimony-section .group{
        flex-direction: column;
    }
    /*section 4 contact */
    .contact-section .group{
        flex-direction: column;
    }
}



@media (max-width:600px){
    /*NAVBAR */
    nav{
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a span {
        display: none;
    }

    nav .right a:last-child{
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

       /*section1 hero */
    .hero-section{
        padding: 0 50px;
    }

    .hero-section .text h2{
        font-size: 20px;
    }


       /*section 2 skills */
    .skill-section{
        padding: 0 20px;
    }
    .skill-section .cells .cell span{
        font-size: 15px;
    }
    .testimony-section{
        padding: 0 20px;
    }

    .contact-section{
        padding: 0 20px;
    }
}
    main {
    margin-top: 100px;
}

